.modal {
    width: 50vw;
    height: 80vh;
    border: .5px black solid;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding-bottom: 20px;
}

.closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    /* background-color: black; */
    height: 25px;
    width: 25px;
    margin: 5px;
}

.btn1 .btn2 {
    background-color: #141414;
    height: 3px;
    width: 25px;
    z-index: 9999;
}

.btn1 {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.btn2 {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.modalImg {
 background-color: cadetblue;
 width: 100%;
 height: 40%;
}

.modal > a {
    border: .5px solid black;
    justify-content: center;
    color: black;
}