#logoT {
    animation: fill-anim 0.5s ease forwards;
}

#logoT > path {
    stroke-dasharray: 1323px;
    stroke-dashoffset: 1323px;
    animation: line-anim 6s ease forwards;
}

svg * {
    stroke: #141414;
    stroke-width: 10px;
    fill: #f7f7f7;
}

@keyframes line-anim {
    to {
    stroke-dashoffset: 0;
    }
}

@keyframes fill-anim {
    from {
        fill: #f7f7f7;
    }
    to {
        fill: #141414;
    }
}

@media only screen and (max-width: 820px) {

    #logoT {
        width: 100%;
        margin-left: 5px;
    }
    
}
