.contactSection {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background: #F7f7f7;
    
}

.links {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-weight: 100;
}

a {
    text-decoration: none;
    color: white;

}