.contactSection {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background: rgb(241, 240, 240);
    
}

.links {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-weight: 100;
    background: transparent;
}

a {
    background: transparent;
    color: #141414;
    text-decoration: none;
}