#main {
    background-color: white;
    height: 90%;
    width: 100%;
    color: #141414;
}

.heroSection {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
