.projectsSection {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
    height: 100%;
}       

.cardsSection {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
    margin: 50px 0;
}

.card {
    width: 20%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.card:hover {
    box-shadow:#8888 1.5px 1.5px 5px 5px;
    transition: ease-in-out 10ms;
    cursor: pointer;
}

.card>img {
    width: 100%;
    height: 100%;
}

.card>p {
    display: none;
}

.flickr {
    margin-top: 150px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.flickrLink {
    text-decoration: underline;
}

.flickr-img-container {
    margin-top: 50px;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    width: 100%;
}


@media only screen and (max-width: 820px) {

    .projectsSection {
        height: 100%;
    }

    .cardsSection {
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    #projects {
        height: 100%;
    }
    .card {
        width: 80%;
        margin: 20px;
    }

    .flickr {
        margin-top: 100px;
        display: flex;
        flex-flow: column;
        padding: 20px;
        /* justify-content: space-evenly;
        align-items: center; */
        /* width: 100%; */
    }

    .flickr-img-container {
        margin-top: 50px;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        height: 100%;
    }

    .kuva {
        width: 100%;
        margin: 20px;
    }
}