* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

html {
  width: 100vw;
  background: #f7f7f7;
}

h1 {
  font-size: 3em;
}

p {
  font-size: 1.5em;
  text-align: center;
}

.App {
  color: #141414;
  /* border: #141414 5px solid; */
  height: 100%;
  width: 100%;
}