* {
  margin: 0;
  padding: 0;
  background-color: #141414;
}

h1 {
  font-size: 3em;
}

p {
  font-size: 1.5em;
  text-align: center;
}

.App {
  color: white;
  border: white 5px solid;
  margin: 20px;
  height: 95%;
}

