* {
  margin: 0;
  padding: 0;
  background-color: white;
  color: #141414;
}

h1 {
  font-size: 3em;
}

p {
  font-size: 1.5em;
  text-align: center;
}

.App {
  color: #141414;
  /* border: #141414 5px solid; */
  margin: 20px;
  height: 95%;
}

button {
  height: 100px;
  width: 100px;
  background: #141414;
}