.navContainer {
    height: 10%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
}

.navList {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    background-color: black;
    opacity: .98;
    margin: 0;
    padding: 0;
}

.navList li {
    background-color: black;
    opacity: .9;
    color: white;
}

li::after {
    position: absolute;
    content: "";
    height: .1em;
    top: 100%;
    background:  #FF6133;
    z-index: -1;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transition: transform .5s cubic-bezier(.95, .05, .795, .035);
  }
  
li:hover::after {
    transition-timing-function: cubic-bezier(.19, 1, .22, 1);  
    transform: scaleX(1);
  }

@media only screen and (max-width: 820px) {
    .navContainer {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .navList {
        height: 100%;
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        background-color: black;
        opacity: .9;
        margin: 0;
        padding: 0;
    }
    
}